{%- if cookiecutter.wsgi_server == "uwsgi" -%}
{% set web_command = "uwsgi --http 0.0.0.0:5183 --module " + cookiecutter.app_name + ".wsgi:app" %}
{%- elif cookiecutter.wsgi_server == "gunicorn" -%}
{% set web_command = "gunicorn -b 0.0.0.0:5183 " + cookiecutter.app_name + ".wsgi:app" %}
{%- else -%}
{% set web_command = "flask run -h 0.0.0.0" %}
{%- endif -%}
# WARNING: this file is not suitable for production, please use with caution
version: '3'

services:
  web:
    image: {{cookiecutter.app_name}}
    build: .
    command: {{web_command}}
    # command: ["sleep","infinity"] # Za debugiranje ako pukne {{web_command}}
    env_file:
      - ./.flaskenv
    environment:
      - DATABASE_URI=sqlite:////db/{{cookiecutter.app_name}}.db
{%- if cookiecutter.use_celery == "yes"%}
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq
      - CELERY_RESULT_BACKEND_URL=redis://redis
{%- endif %}
    volumes:
      - ./{{cookiecutter.app_name}}:/code/{{cookiecutter.app_name}}
      - ./db/:/db/
    ports:
      - "5183:5000"
      
{%- if cookiecutter.use_postgres == "yes" %}
    postgres:
        build:
          dockerfile: dockerfiles/Dockerfile_postgres.yml
        container_name: postgres
        volumes:
          # - ./secrets/id_rsa:/.ssh/keys/id_rsa:ro
          - ./secrets/ssh_host_ed25519_key.pub:/.ssh/keys/ssh_host_ed25519_key.pub:ro
          - ./secrets/ssh_host_rsa_key.pub:/.ssh/keys/ssh_host_rsa_key.pub:ro
          - ./shared_folders/postgres:/shared_folder
        ports:
          - "5442:5432"

    {%- if cookiecutter.use_pgadmin == "yes" %}
    pgadmin:
        # image: dpage/pgadmin4
        build:
          dockerfile: dockerfiles/Dockerfile_pgadmin.yml
        environment:
          PGADMIN_DEFAULT_EMAIL: piano_export@njuskalo.hr
          PGADMIN_DEFAULT_PASSWORD: postgres
        ports:
          - "5555:80"
        container_name: pgadmin
        volumes:
            # - ./secrets/pgpass.txt:/pgpass.txt
            - ./servers.json:/pgadmin4/servers.json
            - ./shared_folders/pgadmin:/shared_folder
    {%- endif %}
{%- endif %}

{%- if cookiecutter.use_celery == "yes" %}
  rabbitmq:
    image: rabbitmq
  redis:
    image: redis
  celery:
    image: {{cookiecutter.app_name}}
    command: "celery worker -A {{cookiecutter.app_name}}.celery_app:app"
    env_file:
      - ./.flaskenv
    volumes:
      - .:/code
    depends_on:
      - rabbitmq
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq
      - CELERY_RESULT_BACKEND_URL=redis://redis
{%- endif %}
